* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'SF Pro Display', sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

header {
    background-color: black;
    height: 5rem;
    display: flex;
    justify-content: space-between
}

.logo-container {
    width: 40rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1rem;
}

.logo {
    height: auto;
    width: 7rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .mainMenu {
    display: flex;
    list-style: none;
}

nav .mainMenu li a {
    display: inline-block;
    padding: 1.5rem;
    text-decoration: none;
    color: white;
    font-size: 2rem;
    transition: 0.2s ease;
    border-radius: 1rem;
    margin-right: 2rem;
    padding: 1rem;
}

nav .openMenu,
nav .closeMenu {
    height: 2rem;
    width: auto;
    margin-right: 1.5rem;
    display: none;
    cursor: pointer;
}

nav .mainMenu .closeMenu,
nav i {
    font-size: 2rem;
    cursor: pointer;
    color: white;
}

@media (max-width: 599px) {
    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0px;
        right: 0px;
        left: 0px;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgb(0, 0, 0);
        transition: top 1s ease 0s;
        display: none;
    }

    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    nav .openMenu {
        display: block;
    }

    nav .mainMenu li a:hover {
        background: none;
    }

    .icons i {
        display: inline-block;
        padding: 1.2rem;
    }
}

#background-video {
    width: 100%;
    height: inherit;
    object-fit: cover;
}

.hero {
    width: 100%;
    height: 40rem;
    position: static;
    overflow: hidden;
    margin-bottom: 3rem;
}

.hero-text {
    position: relative;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.hero-text h1 {
    margin-top: 0;
    margin-bottom: 0.8vw;
    font-size: 4rem;
    font-weight: bold;
}

.hero-text p {
    font-size: 12px;
    font-weight: 100;
    margin-top: 0;
    font-weight: bold;
}

.info {
    width: 85vw;
    border-radius: 1.5rem;
    background-color: rgb(204, 204, 204);
    padding: 1.5rem;
    min-width: 25rem;
    max-width: 50rem;
    margin: 0 auto;
    margin-bottom: 3rem;
}

p {
    font-size: 1.4rem;
}

.section-title {
    padding-bottom: 2rem;
    font-size: 2.8rem;
    text-align: center;
}

.model-title {
    padding-bottom: 2rem;
    font-size: 2.4rem;
    text-align: center;
}

.information-section {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.description {
    width: 85vw;
    border-radius: 1.5rem;
    background-color: rgb(204, 204, 204);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    min-width: 25rem;
    max-width: 35rem;
}

p {
    font-size: 1.4rem;
}

.description button {
    margin-top: 1rem;
}

.articles-container {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.model-section {
    display: flex;
    flex-direction: column;
}

.model-section button {
    width: auto;
    font-size: 1.6rem;
}

.model {
    border-radius: 1.5rem;
    background-color: rgb(204, 204, 204);
    min-width: 25rem;
    max-width: 35rem;
    margin: 0rem 2rem 3rem 2rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

.model-image {
    height: 14rem;
    width: 14rem;
    border: 1px black solid;
    border-radius: 1rem;
    background-color: white;
    align-self: center;
    margin-top: 1rem;
}

.model h3 {
    padding: 0.3rem 0rem;
    font-size: 1.8rem;
    align-self: center;
}

.model p {
    padding: 1rem 0rem;
    font-size: 1.4rem;
    font-weight: 500;
}

.button {
    font-size: 1.4rem;
    padding: 0.5rem 1rem;
    width: auto;
    align-self: center;
    background-color: white;
    border: solid white 1px;
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem 0.8rem black;
    outline: none;
    transition: 0.3s;
}

.button:hover {
    border: 0;
    color: white;
    background-color: #000000;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 5rem;
}

.footer p {
    color: white;
}